@import './common/var.scss';
@import './mixins/mixin.scss';

@include b(checkbox-group) {
  display: flex;
  @include m(column) {
    flex-direction: column;
  }
  @include m(row) {
    flex-direction: row;
    align-items: center;
  }
}

@include b(checkbox) {
  box-sizing: border-box;
  padding: 5px 0;
  display: flex;
  align-items: center;
}