@import './common/var.scss';
@import './mixins/mixin.scss';

@include b(checkbox-group) {
  display: flex;
  @include m(column) {
    flex-direction: column;
  }
  @include m(row) {
    flex-direction: row;
    align-items: center;
  }
}