@import "./common/var.scss";
@import "./mixins/mixin.scss";

@include b(transfer) {
  display: flex;
  align-items: center;
  justify-content: center;
  @include e(buttons) {
    margin: 0 8px;
  }
}

@include b(transfer-panel) {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  width: 200px;
  min-height: 400px;
  @include e(header) {
    background: rgb(245, 247, 250);
    display: flex;
    height: 40px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    padding-left: 15px;
  }
  @include e(body) {
    width: 100%;
    height: 278px;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-left: 15px;
  }
}